<ion-header>
  <ion-toolbar class="toolbar-background">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>Tip Details</ion-title>

    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        icon-only
        ion-button
        icon-left
        clear
        (click)="manageBookmark($event)"
      >
        <i *ngIf="!clickedTip?.bookmarked" class="material-icons">
          bookmark_border
        </i>
        <i *ngIf="clickedTip?.bookmarked" class="material-icons"> bookmark </i>
      </ion-button>

      <ion-button fill="clear" icon-only (click)="share()">
        <ion-icon name="share-social"></ion-icon>
      </ion-button>
      <ion-button ion-button icon-only *ngIf="!bigFont" (click)="changeFont()">
        <ion-icon src="assets/icon/bigFont.svg"> </ion-icon>
      </ion-button>
      <ion-button ion-button icon-only *ngIf="  bigFont" (click)="changeFont()">
        <ion-icon src="assets/icon/smallFont.svg"> </ion-icon>
      </ion-button>
      <ion-button
        ion-button
        icon-only
        *ngIf="lightTheme"
        (click)="changeTheme()"
      >
        <ion-icon src="assets/icon/light.svg"> </ion-icon>
      </ion-button>
      <ion-button
        ion-button
        icon-only
        *ngIf="!lightTheme"
        (click)="changeTheme()"
      >
        <ion-icon src="assets/icon/dark.svg"> </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" #tipContent>
  <div class="contributor" *ngIf="detailsFound" #contributor>
    <ion-icon name="person"></ion-icon>
    <p>{{clickedTip?.name}}</p>
  </div>

  <div
    [innerHTML]="tipData"
    #content
    class="content display-none"
    *ngIf="detailsFound"
  ></div>

  <div *ngIf="!detailsFound" class="not-found">
    <span>Tip not found</span>
  </div>
</ion-content>
