.app-logo {
  height: 250px;
  background-color: var(--toolbar-background) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    height: 70%;
  }
}
.icon-color {
  color: var(--searchbar-md-input-background-color) !important;
}
ion-footer div {
  padding-bottom: 6px;
  ion-note {
    font-size: 8px;
  }
}
